.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  margin-bottom: 32px;
  padding: 16px;
}

.nav h3 {
  margin: 0;
}

.navLink {
  text-decoration: none;
  color: rgb(20, 107, 246);
}
.navLink:hover {
  font-weight: bold;
}

